.controlBarContainer {
  width: 87%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.controlBar {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 95%;
  height: 80px;
  background-color: var(--color-lighter);
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0px 3px var(--color-shadow);
}
