.chartsWrapper {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.usersMonthSummaryContainer {
  overflow-x: scroll;
}

.infoMonthSummaryRow {
  opacity: 0;
  display: flex;
  animation: appear 0.3s ease forwards;
  animation-delay: 0.5s;
  margin-bottom: 7px;
}

.infoMonthSummaryRow {
  border-bottom: 1px solid var(--color-shadow);
  margin-bottom: 10px;
}

.infoDayWrapper {
  display: flex;
  gap: 5px;
  max-height: 30px;
}

.infoUsersPar {
  font-size: 14px;
  font-weight: 600;
}

.infoDayNumber,
.emptyTile {
  font-size: 14px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.emptyTile {
  width: 30px;
  font-size: 11px;
}

.userWrapper {
  width: 120px;
  max-height: 30px;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 5px;
}

.leftColumn {
  width: 100%;
  height: 100%;
}

.leftColumnSecondRowContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  height: 45%;
}

.summaryTilesWrapper {
  display: flex;
  gap: 10px;
  width: 50%;
}

.summaryTile {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
  padding-top: 10px;
  width: 50%;
  height: 100px;
  background-color: var(--color-lighter);
  border-radius: 10px;
  box-shadow: 0 0px 3px var(--color-shadow);

  p {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
  }
}

.summaryValueWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.summaryValueIcon {
  color: var(--color-green);
}

.radarChartContainer {
  background-color: var(--color-lighter);
  border-radius: 10px;
  box-shadow: 0 0px 3px var(--color-shadow);

  width: 50%;
  height: 100%;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
