.chartContainer {
  width: 50%;
  height: 50%;
  background-color: var(--color-lighter);
  border-radius: 10px;
  box-shadow: 0 0px 3px var(--color-shadow);
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingIcon {
  color: var(--color-orange);
}
