.clientsInput {
  background-color: #fff;
  width: 100%;
  /* max-width: 410px; */
  border-radius: 10px;
  color: #787878;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;

  input {
    padding-top: 120px;
    height: 40px;
  }
}
