.modalContainer {
  display: flex;
  gap: 20px;
  width: 40vw;
  max-width: 900px;
  height: 85vh;
}

.editModalTitle {
  margin-top: 0;
  margin-bottom: 15px;
}

.infoColumn {
  background-color: var(--color-bg);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  min-width: 400px;
  max-width: 650px;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px 10px;
}

.input {
  font-size: 16px;
  font-weight: 600;
  width: 85%;
  transition: all 0.3s ease;
  border-radius: 15px;
  padding: 5px 10px;
  color: var(--color-title);
}

.noEditMode {
  border: 1px solid transparent;
  background-color: var(--color-bg);
  cursor: pointer;
}

.editMode {
  border: 1px solid var(--color-border);
  background-color: var(--color-lighter);
}

.secondSection {
  width: 100%;
  padding-left: 25%;
  padding-top: 5px;
  display: flex;
  margin-bottom: 15px;
  gap: 10%;
}

.usersContainer {
  width: 150px;
}

.subtasksContainer {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  /* padding: 10px; */
  width: 80%;
  /* overflow-y: scroll; */
  /* min-height: 200px; */
}

.subtaskContainer {
  cursor: pointer;
  width: 90%;
  padding: 6px 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-shadow);
  }
}

.subtaskContent {
  margin: 0;
  flex-grow: 2;
}

.subtaskInputEditMode {
  border: none;
  padding: 3px 10px;
  border-radius: 15px;
  flex-grow: 2;
}

.trashIcon {
  transition: all 0.3s ease;
  opacity: 0;
  &:hover {
    color: var(--color-orange);
    transform: scale(1.05);
  }
}

.subtaskContainer:hover .trashIcon {
  opacity: 1;
}

.addSubtaskButton {
  font-family: Montserrat;
  cursor: pointer;
  width: 90px;
  margin: 7px 0 5px 38px;
  border: none;
  background-color: var(--color-shadow);
  padding: 6px 2px;
  border-radius: 15px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-bg);
    box-shadow: 0 0 0 1px var(--color-shadow);
  }
}

.addSubtaskInputWrapper {
  display: flex;
  gap: 10px;
  padding-left: 32px;
}

.addSubtaskInput {
  width: 70%;
  margin: 7px 0 5px 0px;
  border-radius: 15px;
  border: none;
  padding: 5px 15px;
}

.thirdSection {
  width: 100%;
  padding-left: 25%;
  display: flex;
  gap: 10%;
  margin-bottom: 20px;
}

.descriptionTitle {
  font-weight: 600;
  margin: 0 10px;
}

.descriptionInput {
  width: 80%;
  min-height: 250px;
  margin-left: 5%;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  height: 100px;
  font-family: Montserrat;
  font-size: 14px;
  margin-bottom: 30px;
}

.cardNumberWrapper {
  width: 150px;
}

.cardNumber,
.modalDatesWrapper {
  width: fit-content;
  margin: 0;
  padding: 2px 8px;
  border-radius: 15px;
  font-size: 11px;
  font-weight: 600;
  color: var(--color-lighter);
  background-color: var(--color-navButton);
}
.modalDatesWrapper {
  display: flex;
}

.dateCurrent {
  background-color: var(--color-orange);
}

.datePast {
  background-color: #d32f2f;
}

.clientContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modalCompanyBatch,
.modalClientBatch {
  width: fit-content;
  font-size: 11px;
  font-weight: 600;
  height: 15px;
  color: var(--color-lighter);
  padding: 2px 10px;
  border-radius: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0;
}

.modalClientBatch {
  background-color: var(--color-navButton);
}

.sectionTitle {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

.actionColumn {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 15px;
}

.deleteTaskButton,
.archiveTaskButton {
  width: 100%;
  background-color: #d32f2f;
  border: none;
  padding: 8px 15px;
  border-radius: 15px;
  cursor: pointer;
  color: var(--color-lighter);
  font-weight: 600;
  font-size: 14px;
  font-family: Montserrat;
  transition: all 0.3s ease;
}

.selectInput {
  font-family: Montserrat;
  width: 100%;
  height: 30px;
  font-size: 14px;
  border-radius: 30px;
  border: 1px solid var(--color-navButton);
  text-align: center;
}

.archiveTaskButton {
  background-color: var(--color-orange);
}

.deleteTaskButton:hover,
.archiveTaskButton:hover {
  background-color: var(--color-lighter);
  color: var(--color-dark);
  box-shadow: 0 0 0 1px var(--color-orange);
}

.userWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.joinContainer {
  width: 100%;
  display: flex;
  gap: 10px;
}

.checkInput {
  cursor: pointer;
}

.reckoSectionWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 25%;
  display: flex;
  gap: 10%;
  margin-bottom: 30px;
}

.reckoSectionElementContainer {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    margin: 0;
  }
}

.reckoSectionPartName {
  font-size: 14px;
  font-weight: 600;
}

.heroImg {
  cursor: pointer;
  width: 30px;
  border-radius: 50%;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.noRecordsTitle {
  font-size: 14px;
}

/* .summaryHoursWrapper {
  display: flex;
  gap: 15px;
  padding-left: 10px;

  transform: translateY(-10px);
}

.monthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  p:first-child {
    font-weight: 600;
    font-size: 14px;
  }
} */

.reckoTableWrapper {
  display: flex;
  flex-direction: column;
  /* padding-left: 25%; */
  margin-bottom: 15px;
  width: 80%;
  min-height: 70px;
  /* max-height: 150px; */
  overflow-y: scroll;
}

.reckoTable {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  overflow-x: scroll;
}

.reckoTableRow {
  display: flex;
  align-items: center;
  background-color: var(--color-shadow);
  border-radius: 15px;
  padding-left: 10px;

  /* overflow-x: scroll; */
}

.reckoUserCell {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 130px;
  text-decoration: none;
  color: inherit;
}

.reckoMonthCells {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.reckoMonthCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20px;
  text-align: center;

  p {
    margin: 0;
  }
}

.reckoMonthCell p:first-child {
  font-weight: 600;
  font-size: 14px;
}

.checkboxLoaderContainer {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userPar {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: var(--color-orange);
  }
}

.noParticipantsPar {
  font-size: 14px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.7;
  }
}
