.topBarContainer {
  display: flex;
  height: 55px;
  align-items: end;
  justify-content: center;
}

.addImgIcon {
  cursor: pointer;
  transition: all 0.3s ease;
}

.addImgIcon:hover {
  transform: scale(1.05);
}

.addImage {
  max-width: 400px;
}

.addImgField {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.inputsContainer {
  min-width: 450px;
  min-height: 620px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input,
.selectInput,
.buttonInput {
  font-size: 16px;
  width: 100%;
  height: 35px;
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid var(--color-navButton);
  text-align: center;
  padding: 5px 10px;
}

.selectInput {
  font-family: Montserrat;
  min-width: 242px;
  min-height: 45px;
}

.buttonInput {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background-color: transparent;
  margin: 0 auto;
  border: none;
  padding: 15px 0 0 0;
}

.loaderWrapper {
  padding: 190px;
}

.addTaskBtn {
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: var(--color-orange);
  padding: 12px 45px;
  border-radius: 30px;
  cursor: pointer;
  color: var(--color-lighter);
  transition: all 0.3s ease-out;
  position: absolute;
  bottom: 25px;
  right: 180px;
}

.addTaskBtn:hover {
  background-color: var(--color-lighter);
  color: var(--color-dark);
  border: 1px solid var(--color-orange);
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.inputRef {
  display: none;
}

.addImgFieldContainer {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  border-radius: 10px;
  padding: 20px 30px;
  transition: all 0.3s ease;
}

.addImgFieldContainer:hover {
  box-shadow: 0 4px 20px #364e7e1a;
}

.imgLabel {
  font-size: 16px;
  font-weight: 600;
}

.iconWrapper {
  cursor: pointer;
  transform: translateX(-10px);
  transition: all 0.3s ease;
}

.iconWrapper:hover {
  transform: translateX(-10px) scale(1.1);
}

.rowContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.leftRow,
.rightRow {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 220px;
}
