.memberTile {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px 15px;
  background-color: var(--color-bg);
  border-radius: 10px;

  p {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }
}

.deleteMember {
  cursor: pointer;
  position: relative;
  background-color: var(--color-black);
  border-radius: 10px;
  width: 10px;
  height: 1px;
  transform: rotate(45deg);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-black);
    border-radius: 10px;
    width: 10px;
    height: 1px;
    transform: rotate(90deg);
  }
}

.deleteMemberContainer {
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.2);
  }
}

.userImg {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
