.formsWrapper {
  display: flex;
  padding-bottom: 70px;
}
.clientSecTitle {
  text-align: center;
  margin: 0 auto;
  font-weight: 800;
  /* padding-top: 10px; */
  margin: 15px 0 20px 0;
}

.error {
  font-size: 1rem;
  color: var(--color-orange);
  animation: appear 0.7s;
  margin: 0;
}

.errorBorder {
  animation: appear 0.7s;
  border-radius: 0.5rem;
  border: 0.3rem solid var(--color-orange);
  width: 25rem;
  height: 3.5rem;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0.5rem;
}

.displayMembersWrapper {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.submitBtnWrapper {
  /* transform: translateX(150%); */
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 45px;
}

.finalMessage {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  font-weight: 600;
  font-size: 14px;
  position: absolute;
  bottom: 15px;
  margin: 0;
}

.clientSelectWrapper {
  width: 100%;
  max-width: 410px;
}

.clientsContainer {
  position: relative;
  width: 350px;
  height: 93%;
  transform: translateY(15px);
  border: 1px solid var(--color-navButton);
  border-radius: 10px;
}

.inputsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input,
.errorBorder,
.selectInput,
.capitalizedInput {
  background-color: #fff;
  /* width: 25rem; */
  width: 80%;
  height: 40px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  color: #787878;
  font-size: 14px;
  font-weight: 500;
  padding-left: 0.5rem;
}

.capitalizedInput {
  text-transform: capitalize;
}

.errorBorder {
  border: 2px solid var(--color-orange);
}

.addNewClientButton {
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
  color: var(--color-lighter);
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.3s ease;

  &:hover {
    color: var(--color-orange);
    background-color: var(--color-lighter);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
