.InfoBarElement {
  font-weight: 600;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tileContentWrapper {
  width: 11%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.taskAuthorCreatorWrapper {
  display: flex;
  align-items: center;
  width: 11%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  gap: 10px;
}

.userImg {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

@media (min-width: 2000px) {
  .tileContentWrapper {
    width: 200px;
  }

  .taskAuthorCreatorWrapper {
    width: 220px;
  }
}
