.selectInput {
  font-family: Montserrat;
  width: 100px;
  height: 25px;
  font-size: 14px;
  border-radius: 30px;
  border: 1px solid var(--color-navButton);
  text-align: center;
}

.buttonsWrapper {
  margin-right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.InfoBarElement {
  color: var(--color-title);
  font-weight: 600;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tileContentWrapper {
  width: 11%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.taskAuthorCreatorWrapper {
  display: flex;
  align-items: center;
  width: 11%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  gap: 10px;
}

.userImg {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
}

@media (min-width: 2000px) {
  .tileContentWrapper {
    width: 200px;
  }

  .taskAuthorCreatorWrapper {
    width: 220px;
  }
}

@media (min-width: 1900px) {
  .tileContentWrapper {
    width: 10%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .controlBar {
    height: 60px;
  }
}
