/* .tasksContainer {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addImgIcon {
  cursor: pointer;
  transition: all 0.3s ease;
}

.addImgIcon:hover {
  transform: scale(1.05);
}

.addImage {
  max-width: 400px;
}

.addImgField {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.inputsContainer {
  min-width: 450px;
  min-height: 620px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input,
.selectInput,
.buttonInput {
  font-size: 16px;
  width: 100%;
  height: 35px;
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid var(--color-navButton);
  text-align: center;
  padding: 5px 10px;
}

.selectInput {
  font-family: Montserrat;
  min-width: 242px;
  min-height: 45px;
}

.buttonInput {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background-color: transparent;
  margin: 0 auto;
  border: none;
  padding: 15px 0 0 0;
}

.loaderWrapper {
  padding: 190px;
}

.topBarContainer {
  display: flex;
  height: 55px;
  align-items: end;
  justify-content: center;
}

.addTaskBtn {
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: var(--color-orange);
  padding: 12px 45px;
  border-radius: 30px;
  cursor: pointer;
  color: var(--color-lighter);
  transition: all 0.3s ease-out;
  position: absolute;
  bottom: 25px;
  right: 180px;
}

.addTaskBtn:hover {
  background-color: var(--color-lighter);
  color: var(--color-dark);
  border: 1px solid var(--color-orange);
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.inputRef {
  display: none;
}

.addImgFieldContainer {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  border-radius: 10px;
  padding: 20px 30px;
  transition: all 0.3s ease;
}

.addImgFieldContainer:hover {
  box-shadow: 0 4px 20px #364e7e1a;
}

.imgLabel {
  font-size: 16px;
  font-weight: 600;
}

.iconWrapper {
  cursor: pointer;
  transform: translateX(-10px);
  transition: all 0.3s ease;
}

.iconWrapper:hover {
  transform: translateX(-10px) scale(1.1);
}

.rowContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.leftRow,
.rightRow {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 220px;
}

.createdAtDate,
.authorName,
.title,
.description,
.path,
.status,
.client,
.deadline,
.priority,
.createdAtDateBar,
.authorNameBar,
.titleBar,
.descriptionBar,
.pathBar,
.statusBar,
.clientBar,
.deadlineBar,
.priorityBar {
  font-weight: 600;
  position: absolute;
  font-size: 15px;
  padding: 0 20px;
}

.deadlineBar {
  left: 89%;
}
.deadline {
  left: 90%;
}

.priorityBar {
  left: 80%;
}
.priority {
  left: 82%;
}

.clientBar {
  left: 69.5%;
}

.client {
  left: 70%;
}

.statusBar {
  left: 62%;
}
.status {
  left: 62%;
}

.pathBar {
  left: 48%;
}
.path {
  left: 46%;
}

.path,
.description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.descriptionBar {
  left: 35%;
}
.description {
  left: 29%;
  max-width: 190px;
}

.titleBar {
  left: 23%;
}
.title {
  left: 20.5%;
}

.authorNameBar {
  left: 12.5%;
}
.authorName {
  left: 11.5%;
}

.createdAtDateBar {
  left: 3%;
}
.createdAtDate {
  left: 0%;
}

.userImg {
  position: absolute;
  max-width: 40px;
  border-radius: 50%;
  padding: 8px;
  left: 9%;
} */

/* ///////////////////////////////////////////////////////////////// */

.tasksContainer {
  width: 87%;
  height: 90.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasksWrapper {
  position: relative;
  width: 95%;
  height: 80%;
  max-height: 700px;
  background-color: var(--color-lighter);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--color-shadow);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 25px; */
  padding: 0px 0 40px 0;
  scrollbar-width: none;
}

.tile {
  min-height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--color-bg);
  border-radius: 10px;
  gap: 30px;
  padding-left: 30px;
  margin-bottom: 25px;
}

.createdAtDate,
.authorName,
.title,
.description,
.path,
.status,
.client,
.deadline,
.priority,
.createdAtDateBar,
.authorNameBar,
.titleBar,
.descriptionBar,
.pathBar,
.statusBar,
.clientBar,
.deadlineBar,
.priorityBar {
  font-weight: 600;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tileContentWrapper {
  width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.taskAuthorCreatorWrapper {
  display: flex;
  align-items: center;
  width: 170px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  gap: 10px;
}

.userImg {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}
