.tileWrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.userImg {
  max-width: 45px;
  border-radius: 50%;
  padding: 10px;
  transform: translateX(80px);
}

.userName,
.userJob,
.userEmail,
.userPhone {
  position: absolute;
  font-size: 15px;
  font-weight: 600;
}

.userPhone {
  left: 85%;
}

.userEmail {
  left: 55%;
}

.userJob {
  left: 40%;
}

.jobIcon {
  left: 41%;
}

.userName {
  left: 10.2%;
}

.iconWrapper {
  cursor: pointer;
  transform: translateX(-10px);
  transition: all 0.3s ease;
}

.iconWrapper:hover {
  transform: translateX(-10px) scale(1.1);
}

.userEditWindow {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  right: 2.1%;
  transform: translateY(60%);
  background-color: var(--color-lighter);
  width: 65px;
  height: 70px;
  z-index: 20;
  border-radius: 6px;
  box-shadow: 0 4px 8px var(--color-shadow);
}

.editBtn {
  font-family: Montserrat;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.editBtn:hover {
  color: var(--color-navButton);
}

@media (max-width: 1700px) {
  .userName {
    left: 12%;
  }
}

@media (max-width: 1500px) {
  .userName {
    left: 14%;
  }
}
