.tileWrapper {
  width: 90%;
  min-height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--color-bg);
  border-radius: 10px;
  gap: 30px;
  padding-left: 30px;
  margin-bottom: 25px;
  transition: all 0.3s ease;
}

.tileWrapper:hover {
  transform: scale(1.01);
  background-color: rgba(99, 95, 199, 0.25);
}
