.userWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userImg {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
}

.usersImgContainer {
  width: 20%;
  display: flex;
  gap: 5px;
}

.tileElement {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tileElement:first-child {
  width: 8%;
}

.tileElement:nth-child(2) {
  width: 8%;
}

.tileElement:nth-child(3) {
  width: 20%;
}

.tileElement:nth-child(4) {
  width: 25%;
}

.tileElement:nth-child(5) {
  width: 3%;
}
