.input,
.errorBorder,
.capitalizedInput {
  background-color: #fff;
  width: 25rem;
  height: 40px;
  border: 1px solid var(--color-navButton);
  border-radius: 10px;
  color: #787878;
  font-size: 16px;
  font-weight: 500;
  padding-left: 0.5rem;
}

.capitalizedInput {
  text-transform: capitalize;
}

.errorBorder {
  border: 2px solid var(--color-orange);
}
