@keyframes loading {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.leftSide {
  display: flex;
  align-items: center;
  width: 24.5%;
}

.editCompanyWrapper {
  background-color: transparent;
  border: none;
  margin: 0 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 5px;
}

.editCompanyWrapper:hover h2 {
  color: var(--color-orange);
}

.editCompanyButton {
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;

  h2 {
    transition: all 0.3s ease;
  }
}

.companyNameLoader {
  width: 80px;
  height: 30px;
  background-color: var(--color-bg);
  border-radius: 10px;
  margin: 0 30px;
  animation: loading 1s linear infinite;
}

.center {
  position: relative;
  width: 52.5%;
  display: flex;
  gap: 10px;
  align-items: center;

  label {
    font-weight: 700;
  }
}

.navInput {
  height: 25px;
  width: 60%;
  border-radius: 30px;
  border: 1px solid var(--color-navButton);
  padding: 0 10px;
  margin-left: 10%;
}

.summWrapper {
  display: flex;
  gap: 30px;
}

.summPar {
  color: var(--color-title);
  position: absolute;
  left: -60%;
  font-size: 20px;
  font-weight: 700;
}
.summValue {
  font-size: 16px;
  color: var(--color-lighter);
  font-weight: 700;
}

.totalHoursContainer {
  position: relative;
  max-height: 50px;
  width: 8%;
  transform: translateX(5%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-orange);

  &::after {
    content: '';
    position: absolute;
    height: 60px;
    width: 3px;
    background-color: var(--color-lighter);
    transform: translateX(-15px);
  }
}

.controlBarBtnsWrapper {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.spacer {
  height: 10px;
}
