@keyframes loading {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.companyProfileControlBarWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftSide {
  display: flex;
  align-items: center;
  /* width: 24.5%; */
}

.selectsWrapper {
  display: flex;
  width: 200px;
}

.editCompanyWrapper {
  background-color: transparent;
  border: none;
  margin: 0 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 5px;
}

.editCompanyWrapper:hover h2 {
  color: var(--color-orange);
}

.editCompanyButton {
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;

  h2 {
    transition: all 0.3s ease;
  }
}

.companyNameLoader {
  width: 80px;
  height: 30px;
  background-color: var(--color-bg);
  border-radius: 10px;
  margin: 0 30px;
  animation: loading 1s linear infinite;
}

.center {
  position: relative;
  display: flex;
  gap: 10px;
  height: 100%;

  align-items: center;
  flex-grow: 1;

  padding-left: 10%;
  label {
    font-weight: 700;
  }
}

.exportButton {
  cursor: pointer;
  border: none;
  height: 100%;
  background-color: transparent;
}

.exportIcon {
  color: var(--color-orange);
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.filterInput {
  width: 100%;
  height: 25px;
  max-width: 300px;
  border-radius: 30px;
  border: 1px solid var(--color-navButton);
  padding: 0 10px;
}

.navInput {
  height: 25px;
  width: 60%;
  border-radius: 30px;
  border: 1px solid var(--color-navButton);
  padding: 0 10px;
  /* margin-left: 10%; */
}

/* .summWrapper {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.summPar {
  color: var(--color-title);
  position: absolute;
  left: -60%;
  font-size: 20px;
  font-weight: 700;
}

.summValue {
  height: 100%;
  font-size: 16px;
  color: var(--color-lighter);
  font-weight: 700;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.totalHoursContainer {
  position: absolute;
  right: 14.5%;
  height: 100%;
  width: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-orange);

  &::after {
    content: '';
    position: absolute;
    height: 50px;
    width: 3px;
    background-color: var(--color-lighter);
  }
}


.spacer {
  height: 10px;
} */

.summaryContainer {
  display: flex;
  width: 200px;
}

.summTitle {
  font-weight: 800;
  margin-right: 10px;
}

.hoursTile,
.revTile {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-orange);

  p {
    font-weight: 800;
    color: var(--color-lighter);
  }
}

.hoursTile {
  width: 30%;
  border-right: 3px solid var(--color-lighter);
}

.revTile {
  width: 50%;
}

.controlBarBtnsWrapper {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 0 50px 0 50px;
}

@media (max-width: 1750px) {
  .center {
    padding-left: 0;
  }
  .filterInput {
    width: 50%;
  }
}
