@keyframes loading {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.leftSide {
  display: flex;
  align-items: center;
  width: 24.5%;
}

.editCompanyWrapper {
  background-color: transparent;
  border: none;
  margin: 0 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 5px;
}

.editCompanyWrapper:hover h2 {
  color: var(--color-orange);
}

.editCompanyButton {
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;

  h2 {
    transition: all 0.3s ease;
  }
}



.companyNameLoader {
  width: 80px;
  height: 30px;
  background-color: var(--color-bg);
  border-radius: 10px;
  margin: 0 30px;
  animation: loading 1s linear infinite;
}

.center {
  position: relative;
  width: 32.5%;
  display: flex;
  gap: 10px;
  align-items: center;

  label {
    font-weight: 700;
  }
}

.navInput {
  height: 25px;
  width: 60%;
  border-radius: 30px;
  border: 1px solid var(--color-navButton);
  padding: 0 10px;
  margin-left: 10%;
}

.summPar {
  position: absolute;
  right: 15px;
  font-size: 20px;
  font-weight: 700;
}

.totalHoursContainer {
  max-height: 60px;
  width: 4%;
  transform: translateX(-10%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-orange);

  p {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-lighter);
  }
}

.controlBarBtnsWrapper {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
