.taskCardContainer,
.draggedTask {
  font-size: 15px;
  position: relative;
  cursor: pointer;
  background-color: #2b2c37;
  color: #ffffff;
  width: 80%;
  min-width: 150px;
  min-height: 50px;
  border-radius: 10px;
  padding: 0 20px 10px 20px;
  box-shadow: 0 0px 3px var(--color-shadow);
  border: 1px solid rgba(134, 134, 134, 0.1);
  transition: all 0.3s ease;

  &:hover {
    border: 1px solid var(--color-orange);
  }
}

.draggedTask {
  border: 1px solid var(--color-orange);
}

/* //////Inherit/////// */

.buttonsWrapper {
  margin-right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.columnsWrapper {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  z-index: 2;
}
.taskColumnContainer {
  max-height: 75vh;
}
.taskColumnBorder,
.taskColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 300px;
  height: 95%;
  overflow-y: scroll;
  scrollbar-width: none;
  z-index: 2;
  padding: 0px 60px 60px 0px;
}

.taskColumn::-webkit-scrollbar {
  display: none;
}

.taskColumnBorder {
  outline: dashed;
  outline-color: var(--color-navButton);
  outline-width: 2px;
  border-radius: 10px;
}

.columnTitleWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 25px;
}

.columnTitleMark,
.columnTitleMarkToDo,
.columnTitleMarkInProgress,
.columnTitleMarkSent {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: aqua;
}
.columnTitleMarkToDo {
  background-color: var(--color-orange);
}

.columnTitleMarkInProgress {
  background-color: var(--color-navButton);
}

.columnTitleMarkSent {
  background-color: lightgreen;
}

.task,
.taskHigher {
  font-size: 15px;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  background-color: var(--color-lighter);
  width: 75%;
  min-width: 200px;
  border-radius: 10px;
  padding: 0 20px 10px 20px;
  box-shadow: 0 0px 3px var(--color-shadow);
  border: 1px solid rgba(134, 134, 134, 0.1);
  transition: all 0.3s ease;

  &:hover {
    border: 1px solid var(--color-orange);
  }
}

.taskHigher {
  padding: 0 20px 45px 20px;
}

.taskTitle {
  width: 100%;
  max-width: 200px;
  text-wrap: wrap;
  font-size: 14px;
  margin: 5px 0 25px 0;
}

.clientInfoWrapper {
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.clientName,
.clientPerson {
  width: fit-content;
  font-size: 10px;
  font-weight: 600;
  color: var(--color-lighter);
  padding: 2px 10px;
  border-radius: 20px;
  max-width: 70px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.clientPerson {
  max-width: 80px;
  background-color: var(--color-navButton);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Goodyear {
  background-color: rgb(0, 78, 168);
}

.Axa {
  background-color: green;
}

.Shell,
.ShellSFS,
.ShellCRT,
.ShellGlobalProduct {
  background-color: #ffc600;
}

.Mateo {
  background-color: #892f23;
}

.Premio {
  background-color: #002855;
}

.Santander {
  background-color: #ec0000;
}

.userDisplayWrapper {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.subtasksCountWrapper {
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.searchID {
  font-size: 10px;
  position: absolute;
  top: 10px;
  right: 20px;
}

/* .date {
    font-size: 11px;
    position: absolute;
    right: 50%;
  } */

.datesWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  position: absolute;
  right: 50%;
}

.noDates {
  transform: translate(-20px, -10px);
}

.dragDisabled {
  /* opacity: 0.5; */
  pointer-events: none;
  animation: load 0.8s infinite forwards;
}

@media (max-width: 1550px) {
  .task,
  .taskHigher {
    width: 50%;
    min-width: 150px;
    padding: 0 20px 55px 20px;
  }

  .datesWrapper {
    right: 30%;
  }

  .clientName,
  .clientPerson {
    max-width: 30px;
  }

  .searchID {
    font-size: 9px;
    position: absolute;
    top: 10px;
    right: 20px;
  }
}

/* ///////Modal/////// */

.modalContainer {
  display: flex;
  gap: 20px;
  width: 35vw;
}

.editModalTitle {
  margin-top: 0;
  margin-bottom: 15px;
}

.infoColumn {
  background-color: var(--color-bg);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  padding: 20px 10px;
}

.titleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
  margin-bottom: 10px;
}

.input {
  font-size: 16px;
  font-weight: 600;
  width: 85%;
  transition: all 0.3s ease;
  border-radius: 15px;
  padding: 5px 10px;
  color: var(--color-title);
}

.noEditMode {
  border: 1px solid transparent;
  background-color: var(--color-bg);
  cursor: pointer;
}

.editMode {
  border: 1px solid var(--color-border);
  background-color: var(--color-lighter);
}

.secondSection {
  width: 100%;
  padding-left: 25%;
  padding-top: 10px;
  display: flex;
  margin-bottom: 15px;
  gap: 10%;
}

.usersContainer {
  width: 150px;
}

.subtasksContainer {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  /* padding: 10px; */
  width: 80%;
}

.subtaskContainer {
  cursor: pointer;
  width: 100%;
  padding: 6px 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-shadow);
  }
}

.subtaskContent {
  margin: 0;
  flex-grow: 2;
}

.trashIcon {
  transition: all 0.3s ease;
  opacity: 0;
  &:hover {
    color: var(--color-orange);
    transform: scale(1.05);
  }
}

.subtaskContainer:hover .trashIcon {
  opacity: 1;
}

.thirdSection {
  width: 100%;
  padding-left: 25%;
  display: flex;
  gap: 10%;
  margin-bottom: 30px;
}

.descriptionTitle {
  font-weight: 600;
  margin: 0 10px;
}

.descriptionInput {
  width: 80%;
  margin-left: 5%;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  height: 100px;
  font-family: Montserrat;
  font-size: 14px;
  margin-bottom: 30px;
}

.cardNumberWrapper {
  width: 150px;
}

.cardNumber,
.modalDatesWrapper {
  width: fit-content;
  margin: 0;
  padding: 2px 8px;
  border-radius: 15px;
  font-size: 11px;
  font-weight: 600;
  color: var(--color-lighter);
  background-color: var(--color-navButton);
}
.modalDatesWrapper {
  display: flex;
}

.dateCurrent {
  background-color: var(--color-orange);
}

.datePast {
  background-color: #d32f2f;
}

.clientContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modalCompanyBatch,
.modalClientBatch {
  width: fit-content;
  font-size: 11px;
  font-weight: 600;
  height: 15px;
  color: var(--color-lighter);
  padding: 2px 10px;
  border-radius: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0;
}

.modalClientBatch {
  background-color: var(--color-navButton);
}

.sectionTitle {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

.actionColumn {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 15px;
}

.deleteTaskButton,
.archiveTaskButton {
  width: 100%;
  background-color: #d32f2f;
  border: none;
  padding: 8px 15px;
  border-radius: 15px;
  cursor: pointer;
  color: var(--color-lighter);
  font-weight: 600;
  font-size: 14px;
  font-family: Montserrat;
  transition: all 0.3s ease;
}

.selectInput {
  font-family: Montserrat;
  width: 100%;
  height: 30px;
  font-size: 14px;
  border-radius: 30px;
  border: 1px solid var(--color-navButton);
  text-align: center;
}

.archiveTaskButton {
  background-color: var(--color-orange);
}

.deleteTaskButton:hover,
.archiveTaskButton:hover {
  background-color: var(--color-lighter);
  color: var(--color-dark);
  box-shadow: 0 0 0 1px var(--color-orange);
}

.userWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.joinContainer {
  width: 100%;
  display: flex;
  gap: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 5% 10%;
  background-color: transparent;
  z-index: 199;
}

.openSelectButton {
  font-family: Montserrat;
  width: 100%;
  height: 30px;
  font-size: 13px;
  border-radius: 30px;
  border: 1px solid var(--color-navButton);
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding-left: 10px;
}

.upArrow {
  transform: rotate(180deg);
  animation: rotateUp 0.3s ease forwards;
}

.downArrow {
  /* transform: rotate(180deg); */
  animation: rotateDown 0.3s ease forwards;
}

.labelWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.buttonLabel {
  padding: 0;
  margin: 0;
}

.selectContainer {
  width: 75%;
  top: 40px;
  left: -2px;
  position: absolute;
  background-color: var(--color-bg);
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 15px;
  padding: 10px 20px;
  animation: appear 0.4s ease forwards;
  z-index: 200;
}

.selectContainer::-webkit-scrollbar {
  display: none;
}

.checkInput {
  cursor: pointer;
}

.userLoaderWrapper {
  padding-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userLoader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid var(--color-orange);
  width: 10px;
  height: 10px;
  animation: spin 0.5s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.7;
  }
}

@keyframes rotateUp {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-180deg);
  }
}

@keyframes rotateDown {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0);
  }
}
