.taskCardContainer,
.draggedTask {
  font-size: 15px;
  position: relative;
  cursor: pointer;
  background-color: #2B2C37;
  color: #ffffff;
  width: 80%;
  min-width: 150px;
  min-height: 50px;
  border-radius: 10px;
  padding: 0 20px 10px 20px;
  box-shadow: 0 0px 3px var(--color-shadow);
  border: 1px solid rgba(134, 134, 134, 0.1);
  transition: all 0.3s ease;

  &:hover {
    border: 1px solid var(--color-orange);
  }
}

.draggedTask {
  border: 1px solid var(--color-orange);
}
