.editModal {
  font-size: 14px;
  font-weight: 600;
  z-index: 330;
  position: absolute;
  padding: 5px 10px;
  width: 150px;
  /* height: 70px; */
  background-color: var(--color-lighter);
  box-shadow: 0 0px 3px var(--color-shadow);
  border-radius: 10px;
  left: 15px;
  top: 22px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  animation: appear 0.3s ease forwards;
}

.deleteWrapper {
  z-index: 12;
  cursor: pointer;
  display: flex;
  gap: 3px;
  align-items: center;
  height: 30px;
}

.trashIcon {
  transition: all 0.3s ease;
}

.deleteWrapper:hover .trashIcon {
  color: var(--color-orange);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
