.reckoningContainer {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}

.infoBarContainer {
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  overflow-x: visible;
  p {
    margin: 0;
  }
}

.dayNumberInfo {
  width: 30px;
  height: 25px;
}

.reckoningItemContainer {
  width: 150%;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
}

.dayTile {
  width: 30px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-shadow);
  border-radius: 5px;
  /* padding: 2px 12px; */
  font-size: 12px;
  font-weight: 600;
}

.daysWrapper {
  display: flex;
  gap: 5px;
}
