.reckoningContainer {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}

.infoBarContainer {
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  overflow-x: visible;
  p {
    margin: 0;
  }
}

.reckoningItemContainer,
.infoBar {
  width: 100%;
  /* padding: 0px 20px; */
  display: grid;
  grid-template-columns: 0.4fr 0.4fr 0.7fr 1fr 0.3fr 0.3fr 1fr;
  /* gap: 5px; */
  /* grid-template-columns: repeat(7, 1fr); */
  grid-template-rows: 1fr;
  align-items: center;
}

.infoBar {
  border-bottom: 2px solid var(--color-orange);
  padding: 5px 0px;
  margin-bottom: 15px;
  background-color: var(--color-navButton);
  color: var(--color-lighter);
}

.reckTaskItem,
.darkerReckTaskItem {
  font-size: 13px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:first-child {
    margin-left: 15px;
  }
}

.darkerReckTaskItem:not(:first-child) {
  background-color: #dde3ef;
}
.reckTaskItem:not(:first-child) {
  background-color: #f4f7fd;
}

.companyTile {
  font-weight: 600;
  color: var(--color-lighter);
}

.infoBarElement {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.dayTile,
.weekendDayTile {
  width: 22px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-shadow);
  border-radius: 5px;
  /* padding: 2px 12px; */
  font-size: 12px;
  font-weight: 600;
}

.weekendDayTile {
  background-color: var(--color-orange);
  opacity: 0.7;
}

.dayInfoPar {
  font-size: 14px;
  font-weight: 600;
  width: 22px;
  text-align: center;
  margin: 0;
}

.daysWrapper {
  display: flex;
  gap: 5px;
  margin: 0 10px;
}
