.noTasksContainer {
  height: 120px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 15px;

  p {
    font-weight: 600;
  }
}

.iconWrapper {
  height: 100%;
  display: flex;
  align-items: center;

  p {
    font-weight: 600;
  }
}
.loadingIcon {
  color: var(--color-orange);
}

.errorIcon {
  color: var(--color-error);
}

@media (max-width: 1700px) {
  .containersWrapper {
    gap: 20px;
  }

  .leftColumnTitle {
    margin-bottom: 25px;
    h3 {
      font-size: 16px;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
