.sideNavContainer,
.hiddenSideNavContainer {
  width: 13%;
  height: 100vh;
  background-color: var(--color-lighter);
  border-right: 1px solid var(--color-border);
  z-index: 2;
  overflow: hidden;
}

.hiddenSideNavContainer {
  width: 3%;
}

.showSideNav {
  animation: showSideNav 0.5s ease forwards;
}

.hideSideNav {
  animation: hideSideNav 0.5s ease forwards;
}

.hideText {
  animation: hide 0.2s ease forwards;
}

.showText {
  animation: reveal 0.2s ease forwards;
}

.logoContainer {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
}

.smallLogo {
  width: 30px;
  opacity: 0;
  animation: reveal 0.5s ease 0.5s forwards;
}

.btnsWrapper {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: front;
  align-items: start;
  gap: 20px;
}

.sideNavBtn,
.hiddenSideNavBtn {
  font-family: Montserrat;
  color: inherit;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.hiddenSideNavBtn {
  opacity: 0;
}

.inactive,
.active {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-navButton);
  transition: all 0.3s ease;
  border-radius: 50px;
  padding: 10px 45px;
  transform: translateX(-50px);
  cursor: pointer;
}

.active {
  background-color: var(--color-orange);
  color: var(--color-lighter);
  opacity: 1;
}
.inactive:hover {
  background-color: var(--color-orange);
  color: var(--color-lighter);
  opacity: 0.5;
}

.icon {
  color: var(--color-navButton);
  transition: all 0.3s ease;
}

.inactive:hover .icon {
  opacity: 1;
  color: var(--color-lighter);
}

.active .icon {
  color: var(--color-lighter);
  opacity: 1;
}

.inactive:hover .sideNavBtn {
  color: var(--color-lighter);
  opacity: 1;
}

.hideSideNavButton {
  font-family: Montserrat;
  color: var(--color-navButton);
  font-weight: 600;
  font-size: 14px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  bottom: 20px;
  left: 15px;

  &:hover svg {
    opacity: 1;
  }
}

.hideButtonText {
  opacity: 0;
}

.hideSideNavIcon {
  opacity: 0;
  transition: all 0.3s ease;
}

.showIcon {
  opacity: 1;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 1750px) {
  .logo {
    width: 150px;
  }

  .inactive,
  .active {
    gap: 5px;
    padding: 10px 30px 10px 40px;
    transform: translateX(-50px);
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes showSideNav {
  from {
    width: 3%;
  }
  to {
    width: 13%;
  }
}

@keyframes hideSideNav {
  from {
    width: 13%;
  }
  to {
    width: 3%;
  }
}

@media (max-width: 1550px) {
  .sideNavBtn {
    font-size: 13px;
  }
}
