.sideNavContainer {
  width: 13%;
  height: 100vh;
  background-color: var(--color-lighter);
  border-right: 1px solid var(--color-border);
  z-index: 2;
}

.logoContainer {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
}

.btnsWrapper {
  height: 90vh;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: front;
  align-items: start;
  gap: 20px;
}

.sideNavBtn {
  font-family: Montserrat;
  color: inherit;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  border: none;
  background-color: transparent;
}

.inactive,
.active {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--color-navButton);
  transition: all 0.3s ease;
  border-radius: 50px;
  padding: 10px 50px;
  transform: translateX(-50px);
  cursor: pointer;
}

.active {
  background-color: var(--color-orange);
  color: var(--color-lighter);
  opacity: 1;
}
.inactive:hover {
  background-color: var(--color-orange);
  color: var(--color-lighter);
  opacity: 0.5;
}

.icon {
  color: var(--color-navButton);
  transition: all 0.3s ease;
}

.inactive:hover .icon {
  opacity: 1;
  color: var(--color-lighter);
}

.active .icon {
  color: var(--color-lighter);
  opacity: 1;
}

.inactive:hover .sideNavBtn {
  color: var(--color-lighter);
  opacity: 1;
}

@media (max-width: 1750px) {
  .logo {
    width: 150px;
  }

  .inactive,
  .active {
    gap: 5px;
    padding: 10px 30px 10px 40px;
    transform: translateX(-50px);
  }
}

@media (max-width: 1550px) {
  .sideNavBtn {
    font-size: 13px;
  }
}
