.listContainer {
  position: relative;
  width: 95%;
  height: 80%;
  max-height: 670px;
  background-color: var(--color-lighter);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--color-shadow);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0px 40px 0px;
  scrollbar-width: none;
}

@media (min-width: 2500px) {
  .listContainer {
    max-height: 700px;
  }
}

@media (max-width: 1950px) {
  .listContainer {
    max-height: 630px;
  }
}

@media (max-width: 1600px) {
  .listContainer {
    max-height: 600px;
  }
}

@media (max-width: 1300px) {
  .listContainer {
    max-height: 500px;
  }
}
