.reckoningItemContainer,
.infoBar {
  width: 100%;
  /* padding: 0px 20px; */
  display: flex;
  /* grid-template-columns: 2% 6% 7% 10% 45% 15% 7% 7%; */
  /* gap: 5px; */
  /* grid-template-columns: repeat(7, 1fr); */
  /* grid-template-rows: 1fr; */
  align-items: center;
  animation: appear 0.3s ease forwards;
}

.commonGrid {
  display: grid;
  grid-template-columns:
    30px /* selectPar */
    6% /* companyPar */
    6% /* clientPar */
    15% /* titlePar */
    auto /* days, you can calculate exact count with JS */
    20% /* commentPar */
    145px /* printWhat */
    145px; /* printWhere */
  align-items: center;
}

.reckTaskItem,
.darkerReckTaskItem {
  /* position: relative; */
  height: 15px;
  font-size: 13px;
  cursor: pointer;
  /* text-align: center; */
  padding: 7px 3px 7px 10px;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:first-child {
    margin-left: 15px;
  }
}

.darkerReckTaskItem:not(:nth-child(2)) {
  background-color: #dde3ef;
}
.reckTaskItem:not(:nth-child(2)) {
  background-color: #f4f7fd;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.moreButton {
  width: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;

  svg {
    color: var(--color-navButton);
    transition: all 0.3s ease;
  }

  &:hover {
    svg {
      color: var(--color-orange);
      transform: scale(1.1);
    }
  }
}

.companyTile,
.clientPersonTile {
  height: 28px;

  /* max-width: 100px; */
  min-width: 60px;
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 600;
  color: var(--color-lighter);
  background-color: var(--color-navButton);
}

.clientPersonTile {
  color: var(--color-black);
  /* max-width: 120px; */
  /* width: 120px; */
}

/* .titleInput {
  width: 90%;
  min-width: 100px;
} */

.commentInput {
  width: 15%;
  min-width: 200px;
}

.daysWrapper {
  display: flex;
  gap: 2px;
  margin: 0 0 0 5px;
}

.dayTile,
.weekendDayTile {
  width: 18px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--color-shadow);
  border-radius: 5px;
  /* padding: 2px 12px; */
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  text-align: center;
}

.weekendDayTile {
  background-color: rgba(130, 143, 163, 0.05);

  /* opacity: 0.3; */
}

.dayTile::-webkit-outer-spin-button,
.dayTile::-webkit-inner-spin-button,
.weekendDayTile::-webkit-outer-spin-button,
.weekendDayTile::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.summHoursContainer {
  width: 10px;
  height: 30px;
  padding: 0 7px;
  background-color: #e5f6df;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editButtonWrapper {
  position: relative;
}

.editModal {
  font-size: 14px;
  font-weight: 600;
  z-index: 330;
  position: absolute;
  padding: 5px 10px;
  width: 150px;
  /* height: 70px; */
  background-color: var(--color-lighter);
  box-shadow: 0 0px 3px var(--color-shadow);
  border-radius: 10px;
  left: 15px;
  top: 22px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  animation: appear 0.3s ease forwards;
}

.deleteWrapper {
  z-index: 12;
  cursor: pointer;
  display: flex;
  gap: 3px;
  align-items: center;
  height: 30px;
}

.trashIcon {
  transition: all 0.3s ease;
}

.deleteWrapper:hover .trashIcon {
  color: var(--color-orange);
}

.highlightCurrentDay {
  background-color: rgba(255, 165, 0, 0.2);

  /* color: var(--color-lighter); */
  border: 1px solid rgba(255, 165, 0, 0.3);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
