.reckoningItemContainer,
.infoBar {
  width: 100%;
  /* padding: 0px 20px; */
  display: grid;
  grid-template-columns: 2% 6% 7% 10% 20% 7% 7% 35%;
  /* gap: 5px; */
  /* grid-template-columns: repeat(7, 1fr); */
  grid-template-rows: 1fr;
  align-items: center;
  animation: appear 0.3s ease forwards;
}

.reckTaskItem,
.darkerReckTaskItem {
  /* position: relative; */
  height: 15px;
  font-size: 13px;
  cursor: pointer;
  /* text-align: center; */
  padding: 7px 3px 7px 10px;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:first-child {
    margin-left: 15px;
  }
}

.darkerReckTaskItem:not(:nth-child(2)) {
  background-color: #dde3ef;
}
.reckTaskItem:not(:nth-child(2)) {
  background-color: #f4f7fd;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.moreButton {
  width: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;

  svg {
    color: var(--color-navButton);
    transition: all 0.3s ease;
  }

  &:hover {
    svg {
      color: var(--color-orange);
      transform: scale(1.1);
    }
  }
}

.companyTile,
.clientPersonTile {
  height: 28px;
  /* width: 100px; */
  font-size: 12px;
  font-family: Montserrat;
  font-weight: 600;
  color: var(--color-lighter);
}

.clientPersonTile {
  color: var(--color-black);
  max-width: 120px;
  /* width: 120px; */
}

.daysWrapper {
  display: flex;
  gap: 5px;
  margin: 0 10px;
}

.dayTile,
.weekendDayTile {
  width: 22px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-shadow);
  border-radius: 5px;
  /* padding: 2px 12px; */
  font-size: 12px;
  font-weight: 600;
  border: none;
  padding: 0;
  text-align: center;
}

.weekendDayTile {
  background-color: var(--color-orange);
  opacity: 0.7;
}

.summHoursContainer {
  min-width: 10px;
  height: 30px;
  padding: 0 7px;
  background-color: #e5f6df;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editButtonWrapper {
  position: relative;
}

.editModal {
  font-size: 14px;
  font-weight: 600;
  z-index: 330;
  position: absolute;
  padding: 5px 10px;
  width: 100px;
  /* height: 70px; */
  background-color: var(--color-lighter);
  box-shadow: 0 0px 3px var(--color-shadow);
  border-radius: 10px;
  left: 15px;
  top: 22px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.deleteWrapper {
  z-index: 12;
  cursor: pointer;
  display: flex;
  gap: 3px;
  align-items: center;
  height: 30px;
}

.trashIcon {
  transition: all 0.3s ease;
}

.deleteWrapper:hover .trashIcon {
  color: var(--color-orange);
}

.highlightCurrentDay {
  background-color: var(--color-navButton);
  color: var(--color-lighter);
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
