@import '@csstools/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&display=swap');

:root {
  --color-bg: #f4f7fd;
  --color-dark: #000;
  --color-light: #f3f3f3;
  --color-lighter: #ffffff;
  --color-shadow: #364e7e1a;
  --color-orange: #f68c1e;
  --color-navButton: #828fa3;
  --color-title: #111111;
  --color-board: #ffffff;
  --color-themeSwitchBox: #f4f7fd;
  --color-addButton: #f0effa;
  --color-border: #e4ebfa;
  --color-checked: rgba(0, 0, 0, 0.5);
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #111111;
  background-color: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input,
button,
link {
  font-family: Montserrat;
}
