@import '@csstools/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;800&display=swap');

:root {
  --color-bg: #f4f7fd;
  --color-black: #000;
  --color-lighter: #ffffff;
  --color-shadow: #364e7e1a;
  --color-orange: #f68c1e;
  --color-navButton: #828fa3;
  --color-border: #e4ebfa;
  --color-title: #030136;
  --color-error: #ff0033;
  --color-green: #adebb3;
  --color-lightBlue: #cce4ff;

  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #111111;
  background-color: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  /* min-height: 100vh; */
  /* overflow: hidden; */
  background-image: url();
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-weight: 700;
}

h3 {
  font-size: 22px;
}

input,
button,
link {
  font-family: Montserrat;
}

select {
  cursor: pointer;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.react-calendar {
  border-radius: 10px;
  border: 1px solid var(--color-navButton);
  max-width: 380px;
  padding: 25px 20px;
  margin-bottom: 70px;
  opacity: 0;
  animation: appear 0.7s ease forwards;
  margin: 0 auto;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.react-calendar__navigation__label {
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.react-calendar__navigation__label__labelText {
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.react-calendar__navigation__label__labelText:hover {
  background-color: var(--color-border);
}

.react-calendar__tile {
  font-size: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 0px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.react-calendar__tile:hover {
  background-color: var(--color-border);
}

.react-calendar__tile--now {
  background-color: var(--color-orange);
}

.react-calendar__tile--active {
  /* border: 1px solid var(--color-border); */
  background-color: var(--color-border);
}

.react-calendar__navigation__arrow {
  cursor: pointer;
  font-size: 26px;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.react-calendar__navigation__arrow:hover {
  background-color: var(--color-border);
}

.mainLoaderWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-orange);
  border-radius: 10px;
}

.Goodyear {
  background-color: rgb(0, 78, 168) !important;
}

.Axa {
  background-color: green !important;
  opacity: 0.8;
}

.Shell,
.ShellSFS,
.ShellCRT,
.ShellGlobalProduct,
.ShellB2B,
.ShellFleetSolutions {
  background-color: #ffc600 !important;
  opacity: 0.8;
}
.Wybierz {
  background-color: var(--color-navButton);
}
.Mateo {
  background-color: #892f23 !important;
  opacity: 0.8;
}

.Premio {
  background-color: #002855 !important;
  opacity: 0.8;
}

.Santander,
.SantanderOdrębne,
.SantanderPR {
  background-color: #ec0000 !important;
  opacity: 0.8;
}

.Drewmet {
  background-color: #74b829 !important;
}

.COTE {
  background-color: #19d3f3 !important;
}

.Aksil {
  background-color: #5dba27 !important;
}

.Leier {
  background-color: #0561a0 !important;
}

.Matsport {
  background-color: #e02125 !important;
}

.Medme {
  background-color: #5fc983 !important;
}

.Milema {
  background-color: #f17700 !important;
}

.Prymat {
  background-color: #940d15 !important;
}

.Ridex {
  background-color: #97a438 !important;
}

.Rijkzwaan {
  background-color: #9bc000 !important;
}

.Romet {
  background-color: #ed1c24 !important;
}

.Safran {
  background-color: #0077c8 !important;
}

.Selena {
  background-color: #003a8d !important;
}

.Sokołów {
  background-color: #7b0000 !important;
}

.Somfy {
  background-color: #fdbb00 !important;
}

.Steinhoff {
  background-color: #d22128 !important;
}

.Transcash {
  background-color: #ffc913 !important;
}

.Urtica {
  background-color: #15295a !important;
}

.Pharmalink {
  background-color: #00a6c4 !important;
}

.Ventor {
  background-color: #00b4ef !important;
}

.WP2 {
  background-color: #00b4ef !important;
}

.TCDębica {
  background-color: #00b4ef !important;
}

.Makita {
  background-color: #1e86a0 !important;
}

.Sipeko {
  background-color: #4c9f3a !important;
}

.Uniter {
  background-color: #e17657 !important;
}

.Mateo {
  background-color: #a92627 !important;
}

.Longevity {
  background-color: #002c41 !important;
}

.Qair {
  background-color: #292d88 !important;
}

.Animex {
  background-color: #000a8b !important;
}

.Husqvarna {
  background-color: #273a60 !important;
}

.PCC {
  background-color: #ff5a00 !important;
}

.Kaczmarski,
.KaczmarskiGroup {
  background-color: #fdba33 !important;
}
