.viewContainer {
  width: 80%;
  max-height: 680px;
  margin: 0 auto;
  background-color: var(--color-board);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(175px);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--color-shadow);
  overflow-y: scroll;
  padding-top: 30px;
}

.viewContainer::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
  padding-top: 10px;
  display: none;
}
