.reckoningTaskListElement {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s ease;
}

.reckoningTaskListElement:not(:first-child) {
  cursor: pointer;
}

.reckoningTaskListElement:hover:not(:first-child) {
  background-color: var(--color-orange);
  color: var(--color-lighter);
}

.companyInfoBar {
  font-weight: 600;
  width: 100%;
  border-bottom: 3px solid var(--color-orange);
  background-color: var(--color-navButton);
  color: var(--color-bg);
}

.reckoningTaskListElementTile,
.taskID,
.taskWorker,
.taskMonth,
.companyInfoBarTile {
  background-color: transparent;
  width: 10%;
  height: 40px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid var(--color-shadow);
}

.companyInfoBarTile {
  transition: all 0.3s ease;
}

.companyInfoBarTile:hover:not(:first-child) {
  cursor: pointer;
  color: var(--color-orange);
}

.reckoningTaskListElementTile:nth-child(1) {
  width: 4.5%;
}

.reckoningTaskListElementTile:nth-child(2) {
  max-width: 6%;
}

.reckoningTaskListElementTile:nth-child(3) {
  width: 7%;
}

.reckoningTaskListElementTile:nth-child(4) {
  width: 7%;
}
.reckoningTaskListElementTile:nth-child(5) {
  width: 12%;
}
.reckoningTaskListElementTile:nth-child(6) {
  width: 20%;
}
.reckoningTaskListElementTile:nth-child(7) {
  width: 3%;
  font-weight: 600;
}
.reckoningTaskListElementTile:nth-child(8) {
  width: 15%;
}
.reckoningTaskListElementTile:nth-child(9) {
  width: 15%;
}

.paginationControls {
  display: flex;
  font-weight: bold;
  position: absolute;
  bottom: 5px;
}

.paginationButton {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  border: none;
  transition: all 0.3s ease;
}

.prevPaginationButton:hover {
  transform: translateX(-5px);
}

.nextPaginationButton {
  transform: rotate(180deg);
}

.nextPaginationButton:hover {
  transform: rotate(180deg) translateX(-5px);
}

@media (max-width: 1700px) {
  .containersWrapper {
    gap: 20px;
  }

  .leftColumnTitle {
    margin-bottom: 25px;
    h3 {
      font-size: 16px;
    }
  }
}
