.leftSide {
  display: flex;
  align-items: center;
  width: 24.5%;
}

.center {
  width: 32.5%;
  display: flex;
  align-items: center;
}

.sum {
  width: 3%;
  max-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-orange);

  p {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-lighter);
  }
}

.editCompanyWrapper {
  margin: 0 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 5px;
}

.editCompanyWrapper:hover h2 {
  color: var(--color-orange);
}

.editCompanyButton {
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;

  h2 {
    transition: all 0.3s ease;
  }
}

.selectInput {
  font-family: Montserrat;
  width: 150px;
  height: 25px;
  font-size: 14px;
  border-radius: 30px;
  border: 1px solid var(--color-navButton);
  text-align: center;
}

.searchInputControl {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 50px;

  label {
    font-weight: 600;
  }
}

.navInput {
  height: 25px;
  width: 31%;
  border-radius: 30px;
  border: 1px solid var(--color-navButton);
  margin-right: 20px;
}

.containersWrapper {
  display: flex;
  width: 95%;
  gap: 40px;
}

.controlBarBtnsWrapper {
  position: relative;
  right: 10%;
}

.totalHoursWrapper {
  display: flex;
  align-items: center;
  gap: 15px;

  p {
    font-size: 20px;
    font-weight: 700;
  }

  p:nth-child(2) {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 10px;
    background-color: var(--color-orange);
    color: var(--color-lighter);
  }
}

/* .LeftContainer {
  width: 20%;
  background-color: var(--color-lighter);
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--color-shadow);
  padding: 20px 0px;
}

.leftColumnTitle {
  text-align: center;
  margin-bottom: 15px;
  h3 {
    font-size: 20px;
    margin: 0;
  }
} */

/* .inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.companyInput {
  width: 85%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 14px;
  padding: 7px 0;
  background: transparent;
} */

.reckoningTaskListElement {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.3s ease;
}

.reckoningTaskListElement:not(:first-child) {
  cursor: pointer;
}

.reckoningTaskListElement:hover:not(:first-child) {
  background-color: var(--color-orange);
  color: var(--color-lighter);
}

.companyInfoBar {
  font-weight: 600;
  width: 100%;
  border-bottom: 3px solid var(--color-orange);
  background-color: var(--color-navButton);
  color: var(--color-bg);
}

.reckoningTaskListElementTile,
.taskID,
.taskWorker,
.taskMonth {
  width: 10%;
  height: 40px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid var(--color-shadow);
}

.reckoningTaskListElementTile:nth-child(1) {
  width: 4.5%;
}

.reckoningTaskListElementTile:nth-child(2) {
  max-width: 6%;
}

.reckoningTaskListElementTile:nth-child(3) {
  width: 7%;
}

.reckoningTaskListElementTile:nth-child(4) {
  width: 7%;
}
.reckoningTaskListElementTile:nth-child(5) {
  width: 12%;
}
.reckoningTaskListElementTile:nth-child(6) {
  width: 20%;
}
.reckoningTaskListElementTile:nth-child(7) {
  width: 3%;
  font-weight: 600;
}
.reckoningTaskListElementTile:nth-child(8) {
  width: 15%;
}
.reckoningTaskListElementTile:nth-child(9) {
  width: 15%;
}

@media (max-width: 1700px) {
  .containersWrapper {
    gap: 20px;
  }

  .leftColumnTitle {
    margin-bottom: 25px;
    h3 {
      font-size: 16px;
    }
  }

  .inputsWrapper {
    font-size: 14px;
  }

  .companyInput {
    font-size: 12px;
  }
}
