.error {
  font-size: 1rem;
  color: var(--color-orange);
  animation: appear 0.7s;
  margin: 0;
}

.errorBorder {
  animation: appear 0.7s;
  border-radius: 0.5rem;
  border: 0.3rem solid var(--color-orange);
  width: 25rem;
  height: 3.5rem;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0.5rem;
}

.personalDataWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.barItem {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-navButton);
}

.usersContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* padding: 100px 0px; */
  gap: 24px;
}

.personIcon,
.mailIcon,
.phoneIcon,
.jobIcon {
  position: absolute;
  font-size: 15px;
  font-weight: 600;
}

.phoneIcon {
  left: 84%;
}

.mailIcon {
  left: 59%;
}

.jobIcon {
  left: 40.5%;
}

.personIcon {
  left: 12.5%;
}

.addNewUserBtn {
  position: absolute;
  right: 100px;
  bottom: 3px;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addNewUserBtn:hover {
  scale: 1.1;
}

.tileContentWrapper {
  width: 25%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.taskAuthorCreatorWrapper,
.taskAuthorCreatorWrapperLabel {
  display: flex;
  align-items: center;
  width: 25%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  gap: 10px;
  padding-left: 13%;
  transform: translateX(-20%);
}

.taskAuthorCreatorWrapperLabel {
  transform: translateX(-6%);
}

.InfoBarElement {
  font-weight: 600;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.userImg {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

@media (max-width: 1760px) {
  .userName {
    left: 12%;
  }
}

@media (max-width: 1500px) {
  .userName {
    left: 14%;
  }
}
