.clientName,
.clientPerson {
  width: fit-content;
  font-size: 10px;
  font-weight: 600;
  color: var(--color-lighter);
  padding: 2px 10px;
  border-radius: 20px;
  max-width: 70px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.clientPerson {
  max-width: 80px;
  background-color: var(--color-navButton);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.biggerClientName,
.biggerClientPerson {
  width: fit-content;
  font-size: 11px;
  font-weight: 600;
  height: 15px;
  color: var(--color-lighter);
  padding: 2px 10px;
  border-radius: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0;
}

.biggerClientPerson {
  background-color: var(--color-navButton);
}

@media (max-width: 1550px) {
  .clientName,
  .clientPerson {
    max-width: 30px;
  }
}
