@keyframes loading {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}
.selectsRow {
  width: 100%;
  display: flex;
  gap: 15px;
}

.editCompanyModalTitle {
  width: 100%;
  text-align: center;
}

.selectsRowLeft,
.selectsRowRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    margin-left: 5px;
  }
}

.firstRow,
.secondRow {
  display: flex;
  gap: 15px;
  width: 100%;

  div {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    label {
      text-align: center;
      margin-bottom: 5px;
      margin-left: 5px;
    }
  }
}

.secondRow {
  margin-bottom: 30px;
}

.displayMembersWrapper {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.inputsWrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.optionButtonsWrapper {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.companyInput,
.hourRateInput {
  background-color: #fff;
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-navButton);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  /* padding-left: 0.5rem; */
  padding: 0;
  text-indent: 15px;
}

.hourRateInputWrapper {
  display: flex;
  width: 100%;
}

.hourRateInput {
  position: relative;
  width: 100%;
}
.hourRateContainer {
  position: relative;
}

.rateLabel {
  font-size: 16px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 17%;
  height: 40px;
}

.one {
  left: 10%;
}

.two {
  left: 12%;
}

.three {
  left: 16%;
}

.four {
  left: 18%;
}

@media (max-width: 1700px) {
  .inputsWrapper {
    font-size: 14px;
  }

  .companyInput,
  .hourRateInput {
    font-size: 12px;
    height: 35px;
  }
  .rateLabel {
    font-size: 12px;
    left: 10%;
    height: 35px;
  }

  .one {
    left: 8%;
  }

  .two {
    left: 10%;
  }

  .three {
    left: 13%;
  }

  .four {
    left: 16%;
  }
}

.clientsLabel {
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    color: var(--color-orange);
  }
}

.nameInput {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 5px;
    margin-left: 5px;
  }
}

.backButton {
  cursor: pointer;
  background-color: transparent;
  border: none;

  svg {
    transition: all 0.3s ease;
  }

  &:hover svg {
    transform: translateX(-5px);
  }
}

.keyWordLabel {
  margin-bottom: 5px;
  margin-left: 5px;
}
