.kanbanView {
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0 40px;
}

.buttonsWrapper {
  margin-right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.filterDropdownContainer {
  position: fixed;
  right: 100px;
  top: 190px;
  width: 220px;
  /* height: 350px; */
  background-color: var(--color-lighter);
  box-shadow: 0 0px 3px var(--color-shadow);
  border-radius: 15px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px 15px 100px 15px;
  animation: appear 0.3s ease forwards;
}

.overlay {
  position: fixed;
  top: 0%;
  right: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 199;
  background-color: transparent;
}

.dropdownHeader {
  font-size: 16px;
  margin: 0;
}

.assignedToMeWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  margin-bottom: 10px;

  p {
    font-size: 14px;
  }
}

.assignedToMeCheckbox {
  cursor: pointer;
}

.userImg {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.userWrapper {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 205;
}

.checkInput {
  cursor: pointer;
}
.usersDropdownContainer {
  margin-bottom: 15px;
  width: 60%;
}

.companiesDropdownContainer {
  width: 60%;
}

.clearButton {
  position: absolute;
  bottom: 20px;
  border: none;
  background-color: var(--color-shadow);
  padding: 7px 15px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 600;
  font-family: Montserrat;
  font-size: 14px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-lighter);
    box-shadow: 0 0 0 1px var(--color-shadow);
  }
}

.searchContainer {
  position: relative;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.input {
  width: 100%;
  height: 25px;
  border-radius: 30px;
  border: 1px solid var(--color-navButton);
  padding: 0 10px;
}

.hidden {
  display: none;
}

.searchResultContainer {
  position: absolute;
  top: 35px;
  right: 50%;
  transform: translateX(52.5%);
  width: 300px;
  max-height: 150px;
  overflow-y: scroll;
  background-color: var(--color-lighter);
  z-index: 10;
  border-radius: 10px;
  padding: 15px 20px;
  animation: appear 0.3s ease forwards;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchResultContainer::-webkit-scrollbar {
  width: 8px;
}

.searchResultContainer::-webkit-scrollbar-track {
  background-color: var(--color-lighter);
  border-radius: 10px;
}

.searchResultContainer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid var(--color-lighter);
}

.searchResultContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-navButton);
}

.companyItem,
.highlightedCompanyItem {
  color: black;
  font-size: 14px;
  font-weight: 600;
  background-color: var(--color-bg);
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.highlightedCompanyItem {
  color: var(--color-orange);
  cursor: pointer;
  background-color: var(--color-border);
}

.dropdownTitle {
  margin: 0;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.clientInfoWrapper {
  display: flex;
  gap: 5px;
}

.clientBatch {
  width: fit-content;
  font-size: 10px;
  font-weight: 600;
  height: 15px;
  color: var(--color-lighter);
  padding: 1px 8px;
  border-radius: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0 0 5px 0;
}

.clientPersonBatch {
  background-color: var(--color-navButton);
}

.searchTitle {
  font-size: 13px;
  margin: 15px 0 0 5px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
