.buttonsWrapper {
  margin-right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.columnsWrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 5%;
}
.taskColumnContainer {
  max-height: 75vh;
}
.taskColumnBorder,
.taskColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 350px;
  height: 90%;
  padding: 20px 0;
}

.taskColumnBorder {
  outline: dashed;
  outline-color: var(--color-navButton);
  outline-width: 2px;
  border-radius: 10px;
}

.columnTitleWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.columnTitleMark,
.columnTitleMarkToDo,
.columnTitleMarkInProgress,
.columnTitleMarkSent {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: aqua;
}
.columnTitleMarkToDo {
  background-color: var(--color-orange);
}

.columnTitleMarkInProgress {
  background-color: var(--color-navButton);
}

.columnTitleMarkSent {
  background-color: lightgreen;
}

.task {
  background-color: var(--color-lighter);
  width: 80%;
  border-radius: 5px;
  padding: 0 20px;
  box-shadow: 0 4px 6px #364e7e1a;
  border: 1px solid rgba(134, 134, 134, 0.1);
}
