.navWrapper {
  /* width: 100vw; */
  min-height: 60px;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-lighter);
  display: flex;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  gap: 52%;
  /* transform: translateX(-150px); */
}

.signOutBtn {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: var(--color-orange);
  padding: 8px 35px;
  border-radius: 30px;
  cursor: pointer;
  color: var(--color-lighter);
  transition: all 0.3s ease-out;
}

.signOutBtn:hover {
  background-color: var(--color-lighter);
  color: var(--color-title);
  box-shadow: 0 0 0 1px var(--color-orange);
}

.workerWrapper {
  color: var(--color-title);
  height: 80%;
  display: flex;
  gap: 15px;
  align-items: center;
  transform: translateX(-30%);
}

.workerWrapper:hover .name {
  color: var(--color-orange);
}

.dataTextWrapper {
  max-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name,
.job {
  margin: 0;
  transition: all 0.3s ease;
}

.name {
  font-size: 16px;
  color: var(--color-title);
}
.job {
  font-size: 12px;
}
.workerImg {
  max-width: 30px;
  border-radius: 200%;
  border: 1px solid var(--color-border);
  padding: 5px;
}

@media (max-width: 1600px) {
  .navWrapper {
    gap: 45%;
    /* transform: translateX(-100px); */
  }
}

@media (max-width: 1250px) {
  .navWrapper {
    gap: 15%;
    /* transform: translateX(-100px); */
  }
}
