.clientInfoBarContainer {
  /* padding-left: 2.5%; */
  width: 100%;
  display: flex;
  align-items: center;
}

.clientTileWrapper {
  width: 100%;
  display: flex;
}

.clientTileWrapperElement {
  width: 25%;
}

.tileElementInfoBar {
  width: 25%;
}

.bolded {
  font-weight: 600;
}

.buttonsWrapper {
  margin-right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
